@import url('https://fonts.googleapis.com/css?family=Heebo:100,700&display=swap');
  
.Container
  width: 100%
  min-height: 90vh
  background-color: #00cc66
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.MainTitle
  font-size: 190px
  color: white
  font-family: 'Heebo', sans-serif
  font-weight: 700

.SubTitle
  font-size: 70px
  font-weight: 100